<h3><%= @list.name %> list </h3>
<% movies = @list.movies %>
<h5>Contains <%= movies.count %> movies:</h5>
<ul>
  <% movies.each do |m| %>
    <li><%= m.title %></li>
  <% end %>
</ul>

<h5>Bookmarks </h5>
<% bookmarks = @list.bookmarks %>
<ul>
  <% bookmarks.each do |b| %>
    <li><%= b.comment %> <%= link_to "âœ–ï¸",
            bookmark_path(b),
            method: :delete,
            data: { confirm: "Are you sure?" } %></li>
  <% end %>
</ul>

<p><%= link_to 'ðŸ’¬ Add a bookmark and a comment', new_list_bookmark_path(@list) %></p>
<p><%= link_to 'Back', lists_path %></p>
