<h3><%= @list.name %> list </h3>
<% movies = @list.movies %>
<h5>Contains <%= movies.count %> movies:</h5>
<ul>
  <% movies.each do |m| %>
    <li><%= m.title %></li>
  <% end %>
</ul>

<h5>Bookmarks </h5>
<% bookmarks = @list.bookmarks %>
<ul>
  <% bookmarks.each do |b| %>
    <li><%= b.comment %> <%= link_to "✖️",
            bookmark_path(b),
            method: :delete,
            data: { confirm: "Are you sure?" } %></li>
  <% end %>
</ul>

<p><%= link_to 'Add a moviet', new_list_bookmark_path(@list) %></p>
<div class="button-56" ><%= link_to 'Back', lists_path %></div>
